torch>=2.0.0
datasets>=2.14.0
transformers
torchaudio>=2.0.0
huggingface-hub>=0.16.0
accelerate>=0.20.0
wandb>=0.15.0
flash-attn
uvicorn[standard]
lmdeploy
optimum[onnxruntime-gpu]>=1.24.0
liger-kernel
